{% extends "app/layouts/base-fullscreen.html" %}

{% block title %} Sign Up - Code Validation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-center form-bg-image" >
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
					<div class="text-center text-md-center mb-4 mt-md-0">
						<a title="Back to Besity" href="{% url 'login' %}" >
							<img class="animate-up-2" width="40" src="/static/assets/img/brand/logo.png">
						</a>
						<h1 class="mt-4 mb-0 h3">
							Associate Phone Number
						</h1>
					</div>
					<form method="post" action="{% url 'send_code' %}" class="mt-4 text-center">
						<p class="small">Please enter your phone number to receive a verification code</p>
						{% csrf_token %}
						<div class="form-group mb-1" style="text-align: center; margin-top: 20px">
								<div class="input-group input-group-sm align-items-center justify-content-center">
									<select style="max-width: 40%; text-align: left" name="code_country" id="code_country" class="form-control input-group-prepend" type="text”>

										<optgroup label="Other countries">

											<option data-code_country="DZ" value="213">Algeria (+213)</option>

											<option data-code_country="AD" value="376">Andorra (+376)</option>

											<option data-code_country="AO" value="244">Angola (+244)</option>

											<option data-code_country="AI" value="1264">Anguilla (+1264)</option>

											<option data-code_country="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>

											<option data-code_country="AR" value="54">Argentina (+54)</option>

											<option data-code_country="AM" value="374">Armenia (+374)</option>

											<option data-code_country="AW" value="297">Aruba (+297)</option>

											<option data-code_country="AU" value="61">Australia (+61)</option>

											<option data-code_country="AT" value="43">Austria (+43)</option>

											<option data-code_country="AZ" value="994">Azerbaijan (+994)</option>

											<option data-code_country="BS" value="1242">Bahamas (+1242)</option>

											<option data-code_country="BH" value="973">Bahrain (+973)</option>

											<option data-code_country="BD" value="880">Bangladesh (+880)</option>

											<option data-code_country="BB" value="1246">Barbados (+1246)</option>

											<option data-code_country="BY" value="375">Belarus (+375)</option>

											<option data-code_country="BE" value="32">Belgium (+32)</option>

											<option data-code_country="BZ" value="501">Belize (+501)</option>

											<option data-code_country="BJ" value="229">Benin (+229)</option>

											<option data-code_country="BM" value="1441">Bermuda (+1441)</option>

											<option data-code_country="BT" value="975">Bhutan (+975)</option>

											<option data-code_country="BO" value="591">Bolivia (+591)</option>

											<option data-code_country="BA" value="387">Bosnia Herzegovina (+387)</option>

											<option data-code_country="BW" value="267">Botswana (+267)</option>

											<option data-code_country="BR" value="55">Brazil (+55)</option>

											<option data-code_country="BN" value="673">Brunei (+673)</option>

											<option data-code_country="BG" value="359">Bulgaria (+359)</option>

											<option data-code_country="BF" value="226">Burkina Faso (+226)</option>

											<option data-code_country="BI" value="257">Burundi (+257)</option>

											<option data-code_country="KH" value="855">Cambodia (+855)</option>

											<option data-code_country="CM" value="237">Cameroon (+237)</option>

											<option data-code_country="CA" value="1">Canada (+1)</option>

											<option data-code_country="CV" value="238">Cape Verde Islands (+238)</option>

											<option data-code_country="KY" value="1345">Cayman Islands (+1345)</option>

											<option data-code_country="CF" value="236">Central African Republic (+236)</option>

											<option data-code_country="CL" value="56">Chile (+56)</option>

											<option data-code_country="CN" value="86">China (+86)</option>

											<option data-code_country="CO" value="57">Colombia (+57)</option>

											<option data-code_country="KM" value="269">Comoros (+269)</option>

											<option data-code_country="CG" value="242">Congo (+242)</option>

											<option data-code_country="CK" value="682">Cook Islands (+682)</option>

											<option data-code_country="CR" value="506">Costa Rica (+506)</option>

											<option data-code_country="HR" value="385">Croatia (+385)</option>

											<option data-code_country="CU" value="53">Cuba (+53)</option>

											<option data-code_country="CY" value="90392">Cyprus North (+90392)</option>

											<option data-code_country="CY" value="357">Cyprus South (+357)</option>

											<option data-code_country="CZ" value="42">Czech Republic (+42)</option>

											<option data-code_country="DK" value="45">Denmark (+45)</option>

											<option data-code_country="DJ" value="253">Djibouti (+253)</option>

											<option data-code_country="DM" value="1809">Dominica (+1809)</option>

											<option data-code_country="DO" value="1809">Dominican Republic (+1809)</option>

											<option data-code_country="EC" value="593">Ecuador (+593)</option>

											<option data-code_country="EG" value="20">Egypt (+20)</option>

											<option data-code_country="SV" value="503">El Salvador (+503)</option>

											<option data-code_country="GQ" value="240">Equatorial Guinea (+240)</option>

											<option data-code_country="ER" value="291">Eritrea (+291)</option>

											<option data-code_country="EE" value="372">Estonia (+372)</option>

											<option data-code_country="ET" value="251">Ethiopia (+251)</option>

											<option data-code_country="FK" value="500">Falkland Islands (+500)</option>

											<option data-code_country="FO" value="298">Faroe Islands (+298)</option>

											<option data-code_country="FJ" value="679">Fiji (+679)</option>

											<option data-code_country="FI" value="358">Finland (+358)</option>

											<option data-code_country="FR" value="33">France (+33)</option>

											<option data-code_country="GF" value="594">French Guiana (+594)</option>

											<option data-code_country="PF" value="689">French Polynesia (+689)</option>

											<option data-code_country="GA" value="241">Gabon (+241)</option>

											<option data-code_country="GM" value="220">Gambia (+220)</option>

											<option data-code_country="GE" value="7880">Georgia (+7880)</option>

											<option data-code_country="DE" value="49">Germany (+49)</option>

											<option data-code_country="GH" value="233">Ghana (+233)</option>

											<option data-code_country="GI" value="350">Gibraltar (+350)</option>

											<option data-code_country="GR" value="30">Greece (+30)</option>

											<option data-code_country="GL" value="299">Greenland (+299)</option>

											<option data-code_country="GD" value="1473">Grenada (+1473)</option>

											<option data-code_country="GP" value="590">Guadeloupe (+590)</option>

											<option data-code_country="GU" value="671">Guam (+671)</option>

											<option data-code_country="GT" value="502">Guatemala (+502)</option>

											<option data-code_country="GN" value="224">Guinea (+224)</option>

											<option data-code_country="GW" value="245">Guinea - Bissau (+245)</option>

											<option data-code_country="GY" value="592">Guyana (+592)</option>

											<option data-code_country="HT" value="509">Haiti (+509)</option>

											<option data-code_country="HN" value="504">Honduras (+504)</option>

											<option data-code_country="HK" value="852">Hong Kong (+852)</option>

											<option data-code_country="HU" value="36">Hungary (+36)</option>

											<option data-code_country="IS" value="354">Iceland (+354)</option>

											<option data-code_country="IN" value="91">India (+91)</option>

											<option data-code_country="ID" value="62">Indonesia (+62)</option>

											<option data-code_country="IR" value="98">Iran (+98)</option>

											<option data-code_country="IQ" value="964">Iraq (+964)</option>

											<option data-code_country="IE" value="353">Ireland (+353)</option>

											<option data-code_country="IL" value="972">Israel (+972)</option>

											<option data-code_country="IT" value="39">Italy (+39)</option>

											<option data-code_country="JM" value="1876">Jamaica (+1876)</option>

											<option data-code_country="JP" value="81">Japan (+81)</option>

											<option data-code_country="JO" value="962">Jordan (+962)</option>

											<option data-code_country="KZ" value="7">Kazakhstan (+7)</option>

											<option data-code_country="KE" value="254">Kenya (+254)</option>

											<option data-code_country="KI" value="686">Kiribati (+686)</option>

											<option data-code_country="KP" value="850">Korea North (+850)</option>

											<option data-code_country="KR" value="82">Korea South (+82)</option>

											<option data-code_country="KW" value="965">Kuwait (+965)</option>

											<option data-code_country="KG" value="996">Kyrgyzstan (+996)</option>

											<option data-code_country="LA" value="856">Laos (+856)</option>

											<option data-code_country="LV" value="371">Latvia (+371)</option>

											<option data-code_country="LB" value="961">Lebanon (+961)</option>

											<option data-code_country="LS" value="266">Lesotho (+266)</option>

											<option data-code_country="LR" value="231">Liberia (+231)</option>

											<option data-code_country="LY" value="218">Libya (+218)</option>

											<option data-code_country="LI" value="417">Liechtenstein (+417)</option>

											<option data-code_country="LT" value="370">Lithuania (+370)</option>

											<option data-code_country="LU" value="352">Luxembourg (+352)</option>

											<option data-code_country="MO" value="853">Macao (+853)</option>

											<option data-code_country="MK" value="389">Macedonia (+389)</option>

											<option data-code_country="MG" value="261">Madagascar (+261)</option>

											<option data-code_country="MW" value="265">Malawi (+265)</option>

											<option data-code_country="MY" value="60">Malaysia (+60)</option>

											<option data-code_country="MV" value="960">Maldives (+960)</option>

											<option data-code_country="ML" value="223">Mali (+223)</option>

											<option data-code_country="MT" value="356">Malta (+356)</option>

											<option data-code_country="MH" value="692">Marshall Islands (+692)</option>

											<option data-code_country="MQ" value="596">Martinique (+596)</option>

											<option data-code_country="MR" value="222">Mauritania (+222)</option>

											<option data-code_country="YT" value="269">Mayotte (+269)</option>

											<option data-code_country="MX" value="52">Mexico (+52)</option>

											<option data-code_country="FM" value="691">Micronesia (+691)</option>

											<option data-code_country="MD" value="373">Moldova (+373)</option>

											<option data-code_country="MC" value="377">Monaco (+377)</option>

											<option data-code_country="MN" value="976">Mongolia (+976)</option>

											<option data-code_country="MS" value="1664">Montserrat (+1664)</option>

											<option data-code_country="MA" value="212">Morocco (+212)</option>

											<option data-code_country="MZ" value="258">Mozambique (+258)</option>

											<option data-code_country="MN" value="95">Myanmar (+95)</option>

											<option data-code_country="NA" value="264">Namibia (+264)</option>

											<option data-code_country="NR" value="674">Nauru (+674)</option>

											<option data-code_country="NP" value="977">Nepal (+977)</option>

											<option data-code_country="NL" value="31">Netherlands (+31)</option>

											<option data-code_country="NC" value="687">New Caledonia (+687)</option>

											<option data-code_country="NZ" value="64">New Zealand (+64)</option>

											<option data-code_country="NI" value="505">Nicaragua (+505)</option>

											<option data-code_country="NE" value="227">Niger (+227)</option>

											<option data-code_country="NG" value="234">Nigeria (+234)</option>

											<option data-code_country="NU" value="683">Niue (+683)</option>

											<option data-code_country="NF" value="672">Norfolk Islands (+672)</option>

											<option data-code_country="NP" value="670">Northern Marianas (+670)</option>

											<option data-code_country="NO" value="47" selected>Norway (+47)</option>

											<option data-code_country="OM" value="968">Oman (+968)</option>

											<option data-code_country="PW" value="680">Palau (+680)</option>

											<option data-code_country="PA" value="507">Panama (+507)</option>

											<option data-code_country="PG" value="675">Papua New Guinea (+675)</option>

											<option data-code_country="PY" value="595">Paraguay (+595)</option>

											<option data-code_country="PE" value="51">Peru (+51)</option>

											<option data-code_country="PH" value="63">Philippines (+63)</option>

											<option data-code_country="PL" value="48">Poland (+48)</option>

											<option data-code_country="PT" value="351">Portugal (+351)</option>

											<option data-code_country="PR" value="1787">Puerto Rico (+1787)</option>

											<option data-code_country="QA" value="974">Qatar (+974)</option>

											<option data-code_country="RE" value="262">Reunion (+262)</option>

											<option data-code_country="RO" value="40">Romania (+40)</option>

											<option data-code_country="RU" value="7">Russia (+7)</option>

											<option data-code_country="RW" value="250">Rwanda (+250)</option>

											<option data-code_country="SM" value="378">San Marino (+378)</option>

											<option data-code_country="ST" value="239">Sao Tome &amp; Principe (+239)</option>

											<option data-code_country="SA" value="966">Saudi Arabia (+966)</option>

											<option data-code_country="SN" value="221">Senegal (+221)</option>

											<option data-code_country="CS" value="381">Serbia (+381)</option>

											<option data-code_country="SC" value="248">Seychelles (+248)</option>

											<option data-code_country="SL" value="232">Sierra Leone (+232)</option>

											<option data-code_country="SG" value="65">Singapore (+65)</option>

											<option data-code_country="SK" value="421">Slovak Republic (+421)</option>

											<option data-code_country="SI" value="386">Slovenia (+386)</option>

											<option data-code_country="SB" value="677">Solomon Islands (+677)</option>

											<option data-code_country="SO" value="252">Somalia (+252)</option>

											<option data-code_country="ZA" value="27">South Africa (+27)</option>

											<option data-code_country="ES" value="34">Spain (+34)</option>

											<option data-code_country="LK" value="94">Sri Lanka (+94)</option>

											<option data-code_country="SH" value="290">St. Helena (+290)</option>

											<option data-code_country="KN" value="1869">St. Kitts (+1869)</option>

											<option data-code_country="SC" value="1758">St. Lucia (+1758)</option>

											<option data-code_country="SD" value="249">Sudan (+249)</option>

											<option data-code_country="SR" value="597">Suriname (+597)</option>

											<option data-code_country="SZ" value="268">Swaziland (+268)</option>

											<option data-code_country="SE" value="46">Sweden (+46)</option>

											<option data-code_country="CH" value="41">Switzerland (+41)</option>

											<option data-code_country="SI" value="963">Syria (+963)</option>

											<option data-code_country="TW" value="886">Taiwan (+886)</option>

											<option data-code_country="TJ" value="7">Tajikstan (+7)</option>

											<option data-code_country="TH" value="66">Thailand (+66)</option>

											<option data-code_country="TG" value="228">Togo (+228)</option>

											<option data-code_country="TO" value="676">Tonga (+676)</option>

											<option data-code_country="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>

											<option data-code_country="TN" value="216">Tunisia (+216)</option>

											<option data-code_country="TR" value="90">Turkey (+90)</option>

											<option data-code_country="TM" value="7">Turkmenistan (+7)</option>

											<option data-code_country="TM" value="993">Turkmenistan (+993)</option>

											<option data-code_country="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>

											<option data-code_country="TV" value="688">Tuvalu (+688)</option>

											<option data-code_country="UG" value="256">Uganda (+256)</option>

											<option data-code_country="GB" value="44">UK (+44)</option>

											<option data-code_country="UA" value="380">Ukraine (+380)</option>

											<option data-code_country="AE" value="971">United Arab Emirates (+971)</option>

											<option data-code_country="UY" value="598">Uruguay (+598)</option>

											<option data-code_country="US" value="1">USA (+1)</option>

											<option data-code_country="UZ" value="7">Uzbekistan (+7)</option>

											<option data-code_country="VU" value="678">Vanuatu (+678)</option>

											<option data-code_country="VA" value="379">Vatican City (+379)</option>

											<option data-code_country="VE" value="58">Venezuela (+58)</option>

											<option data-code_country="VN" value="84">Vietnam (+84)</option>

											<option data-code_country="VG" value="84">Virgin Islands - British (+1284)</option>

											<option data-code_country="VI" value="84">Virgin Islands - US (+1340)</option>

											<option data-code_country="WF" value="681">Wallis &amp; Futuna (+681)</option>

											<option data-code_country="YE" value="969">Yemen (North)(+969)</option>

											<option data-code_country="YE" value="967">Yemen (South)(+967)</option>

											<option data-code_country="ZM" value="260">Zambia (+260)</option>

											<option data-code_country="ZW" value="263">Zimbabwe (+263)</option>

										</optgroup>

									</select>

									<input maxlength="10" style="max-width: 50%; margin-left: 10px; text-align: center"
											class="form-control input-group-addon" id="phone_number"
											name="phone_number" type="tel"
											value="" placeholder="Phone Number"
										    pattern="\d{6,10}"
										    required>
								</div>
						</div>
						<div style="text-align: center; margin-top: 20px">
							<button type="submit" name="" class="btn-primary -800">Continue</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'app/includes/messages.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
