{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5 mb-5">
    <div class="justify-content-center row">
        <div class="col-md-8" id="section-to-print">
            <div class="bg-white p-3">
                <img src="{% static 'logo/logo_restaurant.png' %}" alt="loveForFood Logo" width="250">
                <button class="btn btn-success text-right mt-3" onclick="printDiv('section-to-print')">Download</button>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-2 mb-3">Thank you for your reservation</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="mb-0">{{ reservation.customer.user.full_name }}</p>
                        <p class="mb-0">{{ reservation.customer.user.address }}</p>
                        <p class="mb-0">{{ reservation.customer.user.phone }}</p>
                        <p class="mb-0">{{ reservation.customer.user.email }}</p>
                    </div>
                </div>

                <h6>Hello {{ reservation.customer.user.full_name }},</h6><span>Thank you for your reservation. Review your reservation details below </span>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block">Date of creation: </span><span class="font-weight-bold">{{ reservation.created_at }}</span>
                    </div>
                    <div>
                        <span class="d-block">Reservation Date: </span><span class="font-weight-bold">{{ reservation.reservation_date }}</span>
                    </div>
                    <div>
                        <span class="d-block">Reservation Number: </span><span class="font-weight-bold">{{ reservation.number }}</span>
                    </div>

<!--                    <div>-->
<!--                        <span class="d-block">Transaction ID: </span><span class="font-weight-bold">{{ order.payment.transaction_id }}</span>-->
<!--                    </div>-->
                </div>
                <hr>
                <table class="table">
                    <tbody>
                        <tr>
                            {% if table.image %}
                            <td><img src="{{ table.image.url }}" width="60" alt="Food Image"></td>
                            {% endif %}
                            <td>
                                <p class="mb-0"><b>{{ table.name }}</b></p>
                                <a class="text-muted" href="#">{{ table.name }}</a>
                            </td>
                            <td>VND{{ table.price }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-5">
                    <div class="d-flex justify-content-center col-md-6">
                        <img src="{% static 'images/paid.png' %}" alt="" width="150">
                    </div>
                    <div class="col-md-6">
                        <ul>
<!--                            <li style="list-style-type: none;">-->
<!--                                Subtotal-->
<!--                                <span class="price float-right">-->
<!--                                    <span class="currency">VND</span>-->
<!--                                <span id="subtotal">{{ subtotal }}</span>-->
<!--                                </span>-->
<!--                            </li>-->
<!--                            {% for key, value in tax_data.items %} {% for i, j in value.items %}-->
<!--                            <li style="list-style-type: none;">-->
<!--                                {{ key }} <small>({{ i }}%)</small>-->
<!--                                <span class="price float-right">-->
<!--                                            <span class="currency">VND</span>-->
<!--                                <span id="tax-{{ key }}">{{ j }}</span>-->
<!--                                </span>-->
<!--                            </li>-->
<!--                            {% endfor %} {% endfor %}-->

                            <li style="list-style-type: none; font-weight:600">
                                TOTAL
                                <span class="price float-right">
                                    <span class="currency">VND</span>
                                <span id="total">{{ reservation.total }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block font-weight-bold">Thank you for reservation with us.</span>
                        <span>Healthy Food Chart</span>
                    </div>
                       <a href="{% url 'marketplace' %}" class="float-right">
                           <button type="button" class="btn btn-danger w-100 p-2 mt-3">Exit</button>
                       </a>



<!--                    <div class="d-flex justify-content-end align-items-end">-->
<!--                        <span class="d-block font-weight-bold">Need help? </span>-->
<!--                        <span> Call - +353 560604268</span>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script>
function printDiv(divId) {
    var content = document.getElementById(divId).innerHTML;
    var originalContent = document.body.innerHTML;
    document.body.innerHTML = content;
    window.print();
    document.body.innerHTML = originalContent;
}
</script>

{% endblock javascripts %}
